textarea {
    min-height: 400px;
}

pre {
  font-size: 18px;
  line-height: 1.6;
  background-color:#F0FFFF;
  padding: 10px;
  margin: 10px;
}

.mailbox_item_read{
  background-color: #F0F8FF;
  padding: 10px;
  margin: 10px;
  border: 3px solid #E0FFFF;
  border-radius: 5px;
}


.mailbox_item_unread{
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: solid 2px black;
  border-radius: 5px;
}
